$def with (all_pri)
<html>
    <head>
        <script type="text/javascript">
function validate_required(field, alerttxt)
{
    with(field)
    {
        if (value == null || value == "")
        { alert(alerttxt); return false; }
        else { return true; }
    }
}

function validate_form(thisform)
{
    with(thisform)
    {
        if (validate_required(id, "专业号不能为空！") == false)
        { id.focus(); return false; }
        if (validate_required(name, "专业名称不能为空！") == false)
        { name.focus(); return false; }
    }
}
        </script>
    </head>
    <body>
        <a href="/">首页</a>
        <form id="dept_insert" action="/insert" onsubmit="return validate_form(this)" method="post">
            <table>
                <tr>
                    <td style="display: none;"><input type="text" name="table" value="dept"></td>
                    <td>专业号:</td>
                    <td><input type="text" name="id"></td>
                    <td>专业名称:</td>
                    <td><input type="text" name="name"></td>
                    <td>专业描述:</td>
                    <td><input type="text" name="description"></td>
                    <td><input type="submit" name="submit" value="插入"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
