<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>登录 - 教学信息系统</title>
        <link href="/static/stylesheets/stylelog.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="layer01_holder">
            <div id="left"></div>
            <div id="center"></div>
            <div id="right"></div>
        </div>

        <div id="layer02_holder">
            <div id="left"></div>
            <div id="center"></div>
            <div id="right"></div>
        </div>

        <div id="layer03_holder">
            <div id="left"></div>
            <div id="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>管理员登录<br /><br /></td>
                    </tr>
                    <tr>
                        <td>
                            <form name="login" action="login" method="post">
                                <label>用户名
                                    <input type="text" name="username" />
                                </label>
                                <label>口令
                                    <input type="password" name="password" style="margin-top:5px;" />
                                </label>
                                <label>
                                    <input type="submit" name="button" value="登录" style="margin-top:10px;" />
                                </label>
                            </form> 
                        </td>
                    </tr>
                </table>
            </div>
            <div id="right"></div>
        </div>

        <div id="layer04_holder">
            <div id="left"></div>
            <div id="center">
            </div>
            <div id="right"></div>
        </div>

        <div id="layer05_holder">
            <div align="left"></div>
        </div>
    </body>
</html>
