$def with (all_pri)
<html>
    <head>
        <script type="text/javascript">
function validate_required(field, alerttxt)
{
    with (field)
    {
        if (value == null || value == "")
        { alert(alerttxt); return false; }
        else { return true; }
    }
}

function validate_form(thisform)
{
    with(thisform)
    {
        if (validate_required(id, "学号不能为空！") == false)
        { id.focus(); return false; }
        if (validate_required(name, "姓名不能为空！") == false)
        { name.focus(); return false; }
        if (validate_required(sex, "性别不能为空！") == false)
        { sex.focus(); return false; }
        if (validate_required(age, "年龄不能为空！") == false)
        { age.focus(); return false; }
        if (validate_required(dept, "专业不能为空！") == false)
        { dept.focus(); return false; }
        if (validate_required(_class, "班级不能为空！") == false)
        { _class.focus(); return false; }
    }
}
        </script>
    </head>
    <body>
        <a href="/">首页</a><br />
        <form id="student_insert" action="/insert" onsubmit="return validate_form(this)" method="post">
            <table>
                <tr>
                    <td style="display: none;"><input type="text" name="table" value="student"></td>
                    <td>学号:</td>
                    <td><input type="text" name="id"></td>
                    <td>姓名:</td>
                    <td><input type="text" name="name"></td>
                    <td>性别:</td>
                    <td>
                        <select name="sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                    <td>年龄:</td>
                    <td>
                        <select name="age">
                            $for i in range(1,50):
                                <option value=$i>$i</option>
                        </select>
                    </td>
                    <td>专业:</td>
                    <td>
                        <select name="dept">
                            $for dept in all_pri["dept"]:
                                <option value=$dept[0]>$dept[1]</option>
                        </select>
                    </td>
                    <td>班级:</td>
                    <td><input tpe="text" name="_class"></td>
                    <td><input type="submit" name="submit" value="插入"></td>
                </tr>
            </table>
        </form>
        <form id="student_insert" action="/delete" onsubmit="return validate_form(this)" method="post">
            <table>
                <tr>
                    <td style="display: none;"><input type="text" name="table" value="student"></td>
                    <td>学号:</td>
                    <td><input type="text" name="id"></td>
                    <td>姓名:</td>
                    <td><input type="text" name="name"></td>
                    <td>性别:</td>
                    <td>
                        <select name="sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                    <td>年龄:</td>
                    <td>
                        <select name="age">
                            $for i in range(1,50):
                                <option value=$i>$i</option>
                        </select>
                    </td>
                    <td>专业:</td>
                    <td>
                        <select name="dept">
                            $for dept in all_pri["dept"]:
                                <option value=$dept[0]>$dept[1]</option>
                        </select>
                    </td>
                    <td>班级:</td>
                    <td><input tpe="text" name="_class"></td>
                    <td><input type="submit" name="submit" value="删除"></td>
                </tr>
            </table>
        </form>
    </body>
</html>
